/*轮播图部分*/
.home {
    height: 1272px;
    position: relative;
}
.home .rollimages {
    height: 460px;
    position: relative;
}
.home .rollimages img {
    width: 1226px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
/*左侧菜单*/
.home .menu ul{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
}
.home .menu ul li {
    height: 42px;
    cursor: pointer;
    position: relative;
    /*background-color: #ff6700;*/
}
.home .menu ul li a {
    color: #fff;
    padding: 0 0 0 30px;
    line-height: 42px;
    font-size: 14px;
}
.home .menu ul li i {
    color: rgba(255,255,255,.5);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 20px;
}
/*切换图片的按钮*/
.home .cut .left, .right {
    display: block;
    width: 41px;
    height: 69px;
    line-height: 69px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translate(0,-50%);
    /*50%是移动自己盒子的一半*/
}
.home .cut .left {
    background: url("../images/rollImages/icon-slides.png") no-repeat -83px 0;
    left: 234px;
}
.home .cut .right {
    background: url("../images/rollImages/icon-slides.png") no-repeat -125px 0;
    right: 0;
}
.home .cut .left:hover {
    background: url("../images/rollImages/icon-slides.png") no-repeat 0px 0;
}
.home .cut .right:hover {
    background: url("../images/rollImages/icon-slides.png") no-repeat -42px 0;
}
/*小圆点*/
.home .circle {
    width: 400px;
    height: 10px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    text-align: right;
}
.home .circle ul {
    float: right;
}
.home .circle li {
    float: left;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid rgba(255,255,255,0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-indent: -9999em;
    transition: all 0.3s;
    cursor: pointer;
}
.home .circle li.active {
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(0,0,0,.4);
}
.page_main {
    height: 6974px;
    padding-top: 60px;
    background-color: orangered;
}
.footer {
    height: 272px;
    background-color: #ff1;
}
.page_info {
    height: 166px;
    padding: 30px 0;
    background-color: skyblue;
}
